
<p *ngIf="!all">已注册 { manifestationEvents?.length, plural,
  =1 { 1 manifestation }
  other { {{manifestationEvents?.length}} 个作品} }
</p>
<p *ngIf="all">已注册 { manifestationEvents?.length, plural,
  =1 { is 1 manifestation }
  other { {{manifestationEvents?.length}} 个作品} } 
</p>

<div class="card mb-4" *ngFor="let event of manifestationEvents">
  <div class="card-block row m-1">
    <h4 class="card-title col-md-12 p-1">{{event?.what?.title}}</h4>
    <div class="col-md-6 p-1 mb-1">
      <h6 class="card-subtitle text-muted">Hash</h6>
      <a class="card-text" href="https://ipfs.infura.io/ipfs/{{event?.what.hash}}" target="_blank">
        {{event?.what.hash}}</a>
    </div>
    <div class="col-md-2 p-1 mb-1">
      <h6 class="card-subtitle text-muted">注册人</h6>
      <p class="card-text" title="{{event?.who}}">
        {{event?.who | slice:0:6}}...{{event?.who | slice:-4}}
      </p>
    </div>
    <div class="col-md-4 p-1 mb-1">
      <h6 class="card-subtitle text-muted">注册时间</h6>
      <p class="card-text">{{event?.when | date:'medium'}}</p>
    </div>
  </div>
  <div class="card-footer">
    <a [routerLink]="['/manifestations', event?.what?.hash]" class="btn btn-info">详情</a>
  </div>
</div>
