<h3>版权信息</h3>

<div class="card mb-1">
  <div class="card-block row m-1">
    <h5 class="card-title col-md-12 p-1">{{manifestation?.title}}</h5>
    <div class="col-md-6 p-1 mb-1">
      <h6 class="card-subtitle text-muted">Hash</h6>
      <a class="card-text" href="https://ipfs.infura.io/ipfs/{{manifestation?.hash}}" target="_blank">
        {{manifestation?.hash}}</a>
    </div>
    <div class="col-md-2 p-1 mb-1">
      <h6 class="card-subtitle text-muted">音乐人</h6>
      <p class="card-text" *ngFor="let author of manifestation?.authors" title="{{author}}">
        {{author | slice:0:6}}...{{author | slice:-4}}
      </p>
    </div>
    <div class="col-md-3 p-1 mb-1">
      <h6 class="card-subtitle text-muted">时间</h6>
      <p class="card-text">{{manifestation?.when | date:'medium'}}</p>
    </div>
    <div class="col-md-1 p-1 mb-1">
      <h6 class="card-subtitle text-muted">证据</h6>
      <p class="card-text">{{uploadEvidenceEvents?.length + youTubeEvidenceEvents?.length}}</p>
    </div>
  </div>
</div>

<button class="btn btn-secondary mb-4" (click)="back()">返回</button>

<h3>版权证明文件</h3>

<button *ngIf="!addingEvidence()" type="button" class="btn btn-success mb-4"
        (click)="addingUploadableEvidence = true">上传证明文件</button>

<button *ngIf="!addingEvidence()" type="button" class="btn btn-success mb-4 ml-2"
        (click)="addingYouTubeEvidence = true">上传YouTube证明</button>

<app-upload-evidence *ngIf="addingUploadableEvidence" [manifestation]="manifestation"
                     (cancel)="addingUploadableEvidence = false" (done)="addingUploadableEvidence = false">
</app-upload-evidence>

<app-youtube-evidence *ngIf="addingYouTubeEvidence" [manifestation]="manifestation"
                     (cancel)="addingYouTubeEvidence = false" (done)="addingYouTubeEvidence = false">
</app-youtube-evidence>

<div *ngIf="uploadEvidenceEvents?.length + youTubeEvidenceEvents?.length == 0
            && !addingEvidence()" class="card mb-4">
  <div class="card-block row m-1">
    <h5 class="card-title col-md-12 p-1">暂无证明文件</h5>
    <p class="card-text col-md-12 p-1 alert-danger">提示！如您未在{{manifestation?.expiry | date:'medium'}}前上传证明文件，版权信息可被覆盖</p>
  </div>
</div>

<div *ngIf="!addingEvidence()">
  <app-uploadevidence-details *ngFor="let evidence of uploadEvidenceEvents; let i = index"
    [evidenceEvent]="evidence" [evidenceIndex]="i+1">
  </app-uploadevidence-details>
  <app-youtubeevidence-details *ngFor="let evidence of youTubeEvidenceEvents; let i = index"
                              [evidenceEvent]="evidence" [evidenceIndex]="i+1">
  </app-youtubeevidence-details>
</div>